<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find spot_urdf)/urdf/spot.urdf.xacro" />
  <param name="robot_semantic_description" command="$(find xacro)/xacro $(find spot_srdf)/srdf/spot.srdf.xacro" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="publish_default_efforts" value="True"/>
  </node>


  <node name="rviz" pkg="rviz" type="rviz" required="true" />

</launch>

